@import '../../../css/colors';

.HeaderSmall {
  background: $color-primary;
  color: #fff;
}

.HeaderSmall-container {
  margin: 0 auto;
  padding: 20px 40px;
}

.HeaderSmall-Navigation {
  float: right;
}

.HeaderSmall-Navigation a {
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

.HeaderSmall .Logo {
  float: left;
  height: auto;
}
