.content {
    h1 {
        background-color: $colorPrimaryLightShade1;
        margin: 0;
        padding: 10px 20px;
        color: $colorTextHeader;
        display: block;
        text-transform: uppercase;
        color: $colorTextTitle;
        font-size: 20px;
        font-weight: normal;

        #step {
            float: right;
            font-size: 12px;
            line-height: 22px;
        }
    }
}

.content > .container {
    height: 100%;
    margin-left: 200px;
    position: relative;
}
