@import '../variables.css';

.HeaderSmall {
  background: var(--color-primary);
  color: #fff;
}

.HeaderSmall-container {
  margin: 0 auto;
  padding: 20px 20px;
  max-width: var(--max-content-width);
}

.HeaderSmall-nav {
  float: right;
}
