@import '../../variables.css';

.List {
  list-style: none;
  padding: 0;
}

.List li {
  border: 1px solid var(--color-white-shade-darker-2);
  border-bottom: none;
  position: relative;
  display: flex;
  align-items: stretch;
}

.List li > span {
  padding: 0 10px;
  align-self: center;
}

.List li:nth-child(odd) {
  border-bottom: none;
}

.List li:last-child {
  border-bottom: 1px solid var(--color-white-shade-darker-2);
}

.List Button:first-child {
  color: var(--color-white-shade-darker-5);
  background-color: var(--color-white-shade-darker-1);
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.List Button:last-child {
  margin-left: auto;
}

.List Button {
  text-align: center;
}
