.DistributionPicker-FlexContainer {
  display: flex;
  flex-wrap: wrap;
}

.DistributionPicker-PickDistribution {
  background-color: #FFFFFF;
  border: 1px solid #cccccc;

  margin: 20px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  flex-grow: 3;
  border-radius: 3px;
}

.DistributionPicker-PickDistribution h1 {
  font-size: 24px;
  margin: 0 0 5px 0;
}

.DistributionPicker-PickDistribution img {
   height: 64px;
   max-width: 150px;
   margin: 0 auto;
   padding: 10px 0 10px 0;
   display: block;
}
