@import '../../variables.css';

.MainLayout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.MainLayout-Content {
  flex: 1;
  padding: 40px;
  margin: 0 auto;

  display:flex;
  justify-content: center;
  width:100%;
  height: 100%;
}
