@import '../../../css/colors';

.DropdownMenu:hover {
    cursor: pointer;
}

.DropdownMenu-Activator {
    position: relative;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.DropdownMenu-Activator:after {
    margin-left: 15px;

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.4);
    vertical-align: -15%;

    content: "";
}

.DropdownMenu-Items {
    display: none;
    min-width: calc(100% - 20px);
    margin: -5px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.DropdownMenuItem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    padding: 10px 0;
}

.DropdownMenuItem a {
    color: #333;
    display: block;
    text-decoration: none;
}

.DropdownMenuItem i {
    margin-right: 5px;
}

.DropdownMenuItem:hover {
    background-color: rgba(0, 0, 0, 0.03);
    color: #555;
}

.DropdownMenuItem:hover a {
    color: #555;
}

.DropdownMenuItem:last-child {
    border: none;
}

.DropdownMenu-Items-Visible {
    display: block;
}
