.Wizard {
    width: 100%;
}

.Wizard-Items {
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    color: gray;
    text-transform: uppercase;
    text-align: center;
}

.WizardItem {
    position: relative;
    padding: 0 10px;
}

.WizardItem-Selected {
    position: relative;
    font-weight: 700;
}

.WizardItem-Selected:before {
    background-color: gray !important;
}

.WizardItem:before {
    position: absolute;
    top: -22px;
    width: 14px;
    height: 14px;
    left: calc(50% - 7px);
    border-radius: 100%;
    background-color: #e6e6e6;
    content: '';
    transition: .25s;
}
