@import '../../../css/colors';
@import '../../../css/dimensions';


.project_sidebar {
  border-left: 1px solid $colorBorder;
  height:100%;
  padding:20px;

  & > h2 {
    font-size: 14pt;
    color: $color-primary-shade-lighter-4;
    margin:10px 0 0 0;
  }
}

.ContainerBottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ContainerBottom h1 {
    padding: 0 10px;
}

.ContainerLeft {
    position: relative;
    height: 100%;
}

.ContainerTop {
    padding: 20px;
}

.Clear {
    float: none !important;
    clear: both;
}
