/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

:root {

  /*
   * Colors
   * ======================================================================== */

  --white-base:            hsl(255, 255, 255);
  --gray-darker:           color(black lightness(+13.5%)); /* #222 */
  --gray-dark:             color(black lightness(+25%));   /* #404040 */
  --gray:                  color(black lightness(+33.5%)); /* #555 */
  --gray-light:            color(black lightness(+46.7%)); /* #777 */
  --gray-lighter:          color(black lightness(+93.5%)); /* #eee */

  --color-primary-shade-darker-4: #070a0d;
  --color-primary-shade-darker-3: #0e141b;
  --color-primary-shade-darker-2: #151E28;
  --color-primary-shade-darker-1: #1D2835;
  --color-primary: #233141;
  --color-primary-shade-lighter-1: #2A3C50;
  --color-primary-shade-lighter-2: #32465D;
  --color-primary-shade-lighter-3: #39506A;
  --color-primary-shade-lighter-4: #56789f;

  --color-sidemenu: #d3d6d9;
  --color-text: #d3d6d9;
  --color-footer: #101010;

  --color-white-shade-darker-1: #ddd;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-black-shade-lighter-1: #0A0A0A;
  --color-black-shade-lighter-2: #141414;

  /*
   * Typography
   * ======================================================================== */

  --font-family-base:      'Segoe UI', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width:     1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min:         480px;  /* Extra small screen / phone */
  --screen-sm-min:         768px;  /* Small screen / tablet */
  --screen-md-min:         992px;  /* Medium screen / desktop */
  --screen-lg-min:         1200px; /* Large screen / wide desktop */

  /*
   * Animations
   * ======================================================================== */

  --animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;

}
