@import '../../variables.css';

.Button {
  border-radius: 4px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-primary);
  display: inline-block;
  text-decoration: none;
  padding: 9px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.Button-Form {
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 14px;
}

.Button-Color-Orange {
  background-color: var(--color-accent);
  color: var(--color-white);
  border-color: var(--color-accent-shade-darker-1);
}

.Button-Color-Orange:hover {
  background-color: var(--color-accent-shade-lighter-1);
  color: var(--color-white);
  border-color: var(--color-accent);
}

.Button-Color-White {
  background-color: var(--color-white);
  color: var(--color-primary);
  border-color: var(--color-white);
}

.Button-Inline {
  display: inline-block;
}

.Button-DragIcon {
    cursor: move;
}

.Button-Align-Right {
    float: right;
}

.Button-Align-Left {
    float: left;
}
