// Colors
$colorWhite: #FFFFFF;
$colorBlack: #000000;

$colorHelpBox: #333333;
$colorHelpIcon: #333333;
$colorHelpIconHover: #999999;

$colorBackground: #F5F5F5;

$colorPrimaryLightShade1: #2a3c50;
$colorPrimaryLightShade2: #32465d;
$colorPrimaryLightShade3: #39506A;
$colorPrimary: #233141;
$colorPrimaryDarkShade1: #151E28;
$colorPrimaryDarkShade2: #1D2835;

$colorMenuItem: #d3d6d9;
$colorMenuItemActive: #56789f;

$colorBoxBorder: #cccccc;

$colorButtonNext: #f15843;
$colorButtonNextHover: #ff604b;
$colorLeftListPart: #F7F7F7;
$colorLeftListPartText: #6C6C6C;

$colorSecondary: #1c2632;
$colorAccent: #f15843;
$colorSuccess: #41b222;
$colorLight: #999999;
$colorText: #101010;
$colorTextHeader: #32465d;
$colorTextTitle: #ffffff;
$colorBlue: #227ab2;
$colorSuccess: #41b222;
$colorInfo: #227ab2;
$colorPrimaryHighlight: #3a4856;

// Generic
$spacing: 40px;
