@import '../../variables.css';

.Input > label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 2px;
}

.Input > input {
  margin: 0 auto;
  padding: 5px 10px;
  width: 100%;
  margin: 2px 0 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.Input-Type-File > input {
    padding: 4px 10px;
}

.validation-error {
  border: 1px solid red;
  color: red;
}

.validation-errors > li{
    font-style: italic;
    color: red;
}

.Input-Inline {
    display: inline-block;
}
