.Input > label {
  display: block;
  font-size: 16px;
}

.Input > input {
  margin: 0 auto;
  padding: 5px 10px;
  width: 250px;
  margin: 2px 0 15px 0;
}

.validation-error {
  border: 1px solid red;
  color:red;
}

.Input-Inline {
    display: inline-block;
}
