@import '../../variables.css';

.Divider {
    text-align: center;
}

.Divider span {
    padding: 0 10px;
    background: #FFF;
    text-transform: uppercase;
    font-weight: bold;
}

.Divider {
    text-align: center;
}

.Divider-Horizontal {
    border-bottom: 1px solid var(--color-white-shade-darker-2);
    width: 100%;
    line-height: 0.1em;
    margin: 20px 0;
}

.Divider-Vertical {
    border-right: 1px solid var(--color-white-shade-darker-2);
    width: 1px;
    height: 100%;
    display: inline-block;
    float: left;
}
