.icon-block {
	.circle {
		font-size: 42px;
		border: 6px solid #000;
		display: inline-block;
		height: 120px;
		width: 120px;
		line-height: 112px;
		border-radius: 50%;


		&.accent {
			border-color: $colorAccent;
			color: $colorAccent;
		}

		&.success {
			border-color: $colorSuccess;
			color: $colorSuccess;
		}

		&.info {
			border-color: $colorInfo;
			color: $colorInfo;
		}
	}

	h3 {
		font-size: 24px;
		margin-top: $spacing/2;
		margin-bottom: $spacing/4;
	}

	p.subtitle {
		max-width: 320px;
		margin-right: auto;
		margin-left: auto;
	}

	// Crappy centering workarounds
	i.fa-play {
		margin-right: -10px;
	}
}