@media screen and (max-width: 1200px) {
  .wrapper {
    padding-bottom: 164px; // Footer
  }
  .wrapper-no-header {
    padding-bottom: 164px; // Footer
  }
}
@media screen and (max-width: 1000px) {
  .plan {
    margin-bottom: 20px;
  }
  .subtitle {
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .container {
    width: auto;
  }
}
@media screen and (max-width: 992px) {
	.wrapper {
    padding-bottom: 162px; // Footer
  }
  .wrapper-no-header {
    padding-bottom: 162px; // Footer
  }
}
@media screen and (max-width: 900px) {
  #screenshot-image {
    background-size: 385px 285px;
    width: 385px;
    height: 285px;
  }
}
@media screen and (max-width: 700px) {
  .wrapper {
    padding-top: 140px !important;
  }
  header.small {
    height: 140px !important;
    nav {
      ul {
        margin-top: 10px !important;
        display: block !important;
      }
    }
  }
}

@media screen and (max-width: 770px) {
	.wrapper {
		padding-bottom: 204px; // Footer
	}
	.wrapper-no-header {
		padding-bottom: 204px; // Footer
	}
}

@media screen and (max-width: 400px) {
  width: auto;
}
@media screen and (max-width: 600px) {
	.wrapper {
		padding-bottom: 204px; // Footer
	}
	.wrapper-no-header {
		padding-bottom: 204px; // Footer
	}
  .plan {
    margin-bottom: 20px;
    width: 260px;
  }
  .page-title h1 {
    padding: 10px 20px 10px 60px;
  }
  section.sub-menu {
    width: 50px;
    h1 {
      a {
        span {
          display: none;
        }
      }
    }
    ul {
      .second-level {
        a {
          padding: 13px 0 !important;
        }
      }
      li {
        a {
          text-align: center;
          padding: 13px 0;
          margin: 0 auto;
          span {
            display: none;
          }
          i {
            width: auto;
            margin: 0;
          }
          .item-dropdown {
            float: none;
            margin-left: 3px;
          }
        }
      }
    }
  }
}
