.RegisterPage  {
  width: 30%;
  margin: auto 0;
}

.RegisterPage button {
  margin: 0 auto;
  display: block;
}

.RegisterPage form  {
  width: 100%;
}

.RegisterPage .Input {
  width: 100%;
}

.RegisterPage .Input input {
  width: 100%;
}
