.Divider {
  text-align: center;
}

.Divider span {
  padding: 0 10px;
  background: #FFF;
  text-transform: uppercase;
  font-weight: bold;
}

.Divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--color-white-shade-darker-1);
  line-height: 0.1em;
  margin: 20px 0;
}
