@import '../../../css/colors';

.LoginPage  {
  width: 30%;
  margin: auto 0;
}

.LoginPage button {
  margin: 0 auto;
  display: block;
}

.LoginPage form  {
  width: 100%;
}

.LoginPage .Input {
  width: 100%;
}

.LoginPage .Input input {
  width: 100%;
}
