.DockerfileViewer {
    background-color: var(--color-terminal);
    min-height: 100px;
    border-radius: 3px;
    padding: 10px 15px;
    color: var(--color-terminal-text);
    text-shadow: 0 0 1px var(--color-terminal-text-shadow);
}

.DockerfileViewer > div {
    margin-bottom: 10px;
}

.DockerfileViewer > div:last-child {
    margin-bottom: 0px;
}
