/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.Footer {
  background: var(--color-footer);
  color: var(--color-white);
}

.Footer-copyright {
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--color-primary-shade-darker-4);
}

.Footer-container {
  padding: 20px 15px;
  color: var(--color-white);
  background-color: var(--color-primary-shade-darker-3);
}

.Footer-container a {
  color: var(--color-white);
}

.Footer-container ul {
  padding: 0;
}

.Footer-container li {
  list-style: none;
  text-align: left;
}

.Footer-container h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
