.BuilderStep1Page Button {
  margin: 20px 0 10px 0;
  float: right;
}

.BuilderPage-HelpIcon {
  font-size: 13px;
  position: absolute;
  margin-left: 5px;
  font-weight: bold;
}

.BuilderPage-HelpIcon:hover {
  cursor: pointer;
}
