@import '../variables.css';

.Button {
  display: inline-block;
}

.Button input, input[type="submit"], .Button a {
    border-radius: 4px;
    border: 2px solid #233141;
    background-color: #233141;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.Button input, .Button a {
  width: auto;
  background-color: #f15843;
  border-color: #f15843;
  margin: 0 10px;
}

.Button .big {
    padding: 12px 20px;
}

.Button .accent {
  background-color: var(--color-accent);
}

.Button .white {
  background-color: var(--color-white);
  color: var(--color-text);
  border: none;
}

.button .white:hover {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
}
