@import '../../../css/colors';

.Button {
  border-radius: 4px;
  border: 2px solid $color-primary;
  background-color: $color-primary;
  color: $color-primary;
  display: inline-block;
  text-decoration: none;
  padding: 9px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.Button-Form {
  border-radius: 0px;
  padding: 5px 10px;
  font-size: 14px;
}

.Button-Color-Orange {
  background-color: $color-accent;
  color: $color-white;
  border-color: $color-accent-shade-darker-1;
}

.Button-Color-Orange:hover {
  background-color: $color-accent-shade-lighter-1;
  color: $color-white;
  border-color: $color-accent;
}

.Button-Color-White {
  background-color: $color-white;
  color: $color-primary;
  border-color: $color-white;
}

.Button-Inline {
  display: inline-block;
}

.Button-DragIcon {
    cursor: move;
}

.Button-Align-Right {
    float: right;
}

.Button-Align-Left {
    float: left;
}
