@import '../../variables.css';

.HeaderSmall {
  background: var(--color-primary);
  color: #fff;
}

.HeaderSmall-container {
  margin: 0 auto;
  padding: 20px 40px;
}

.HeaderSmall .Navigation {
  float: right;
}

.HeaderSmall .Logo {
  float: left;
  height: auto;
}
