// $xs: ~"screen and (max-width: 768px)";
// $sm: ~"screen and (max-width: 992px)";
// $md: ~"screen and (min-width: 992px)";
$xs: "(screen and (max-width: 768px))";
$sm: "(screen and (max-width: 992px))";
$md: "(screen and (min-width: 992px))";
