.page-title {
    h1 {
        background-color: $colorPrimaryLightShade2;
        margin: 0;
        padding: 10px 20px 10px 240px;
        display: block;
        color: $colorTextTitle;
        font-size: 20px;
        font-weight: normal;
        letter-spacing: 1px;

        #step {
            float: right;
            font-size: 12px;
            line-height: 22px;
        }
    }
}
