@import '../../../css/colors';
@import '../../../css/dimensions';

#members {
  padding:0;
  margin:0;

  & > li {
    width: 100%;
    position:relative;
    @include clearfix();

    list-style:none;

    object, img{
      float:left;
      -webkit-border-radius:25px;
      -moz-border-radius:25px;
      border-radius:25px;
    }

    & > div {
      margin-left:10px;
      display: inline-block;

      .member_scope {
        font-size:8pt;
        color: $color-primary-shade-lighter-4;
        font-style:italic;

        &.scope_admin,
        &.scope_manager{
          color: $color-accent-shade-lighter-1;
        }
      }

      .member_name {
        display: inline-block;
      }

      .member_actions {
        position:absolute;
        top:12px;
        right:10px;


        .member_action {
          border: none;
          background: none;
          color: $color-primary-shade-lighter-2;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          border-radius: 22px;
          height:22px;
          width:22px;
          text-align: center;
          display: table-cell;
          vertical-align: middle;

          &:hover {
            background: $color-primary-shade-lighter-3;
            color: white;
            cursor: pointer;
            transition: 250ms all;
          }
        }
      }
    }
    & + li {
      margin-top:5px;
    }
  }
}
